* {
  font-family: Helvetica, arial, sans-serif;
  background-image: url("./assets/10.gif");
  color: #fafafa;
  text-align: center;
}

body {
  padding: 60px;
}

input {
  width: 100%;
}

h1 {
  font-size: 5rem;
}

span,
h3 {
  color: rgb(0, 217, 255);
}

p,
ol {
  font-size: 1.2rem;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid rgb(0, 217, 255);
  border-radius: 6px;
  font-size: 1.8rem;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.signature {
  font-size: 0.8rem;
}
